VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=kabarterbaru-ed022.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kabarterbaru-ed022
VITE_FIREBASE_STORAGE_BUCKET=kabarterbaru-ed022.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=518244751103
VITE_FIREBASE_APP_ID=1:518244751103:web:761ce0f4f4a3009df9deca

VITE_ADMIN_EMAIL=kabarterbaru.id@gmail.com

VITE_CLOUDINARY_CLOUD_NAME=vemsqxke
VITE_CLOUDINARY_UPLOAD_PRESET_ARTICLES=kabar_terbaru_articles
VITE_CLOUDINARY_UPLOAD_PRESET_AUTHORS=kabar_terbaru_authors
